/* extended.CSS */
html{

}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {

}
.navbar, .navbar-expand-lg {
    font-weight: bold;
}
.navbar-nav {
    margin-left: 1rem;
}
.fancy-title {
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}
.fancy-title:hover, .fancy-title:active {
    text-decoration: none;
}
/* colors */
.extend-color-orange {
    color: #ff6c40;
}
.extend-color-gold {
    color: ;
}
.display-3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}